<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label class="block">
    <textarea name="tweet[content]" id="new-tweet" rows="6"></textarea>
  </label>
  <strong class="chars-left"></strong>
  <br>
  <input id="allUsers" type="hidden" data-users="<%= User.all.to_json %>"  >
<!--
  <label>
    Mention
    <a href="javascript:void(0)" class="add-mentioned-user">Add mention</a>
    <script type="text/template" class="mentioned-user-select">
      <div>
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <a href="javascript:void(0)" class="remove-mentioned-user">Remove</a>
      </div>
    </script>
    <div class="mentioned-users">

    </div>
  </label> -->
  <br>

  <input class="post-tweet" type="Submit" value="Post Tweet!">
</form>
